--- "E:\\github\\fb-react-native-forpatch-base\\ReactAndroid\\.npmignore"	2020-01-29 14:11:26.251525300 -0800
+++ "E:\\github\\ms-react-native-forpatch\\ReactAndroid\\.npmignore"	2020-01-29 14:10:09.304919900 -0800
@@ -1,3 +1,5 @@
 # Make sure we never publish ReactAndroid/build (Gradle output) to npm.
 # The folder is huge (> 100MB)!
 build/
+# No need to publish our imported nugets
+packages
\ No newline at end of file
