--- "E:\\github\\fb-react-native-forpatch-base\\template\\android\\app\\src\\debug\\AndroidManifest.xml"	2020-01-29 14:11:26.780530700 -0800
+++ "E:\\github\\ms-react-native-forpatch\\template\\android\\app\\src\\debug\\AndroidManifest.xml"	2020-01-29 14:10:10.027926900 -0800
@@ -4,5 +4,10 @@
 
     <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
 
+<<<<<<< HEAD
+    <application tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" android:networkSecurityConfig="@xml/react_native_config" />
+</manifest>
+=======
     <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" />
 </manifest>
+>>>>>>> v0.60.0
