--- "E:\\github\\fb-react-native-forpatch-base\\processor\\devmainJava\\AndroidManifest.xml"	1969-12-31 16:00:00.000000000 -0800
+++ "E:\\github\\ms-react-native-forpatch\\processor\\devmainJava\\AndroidManifest.xml"	2020-01-29 14:10:10.011924100 -0800
@@ -0,0 +1,6 @@
+<?xml version="1.0" encoding="utf-8"?>
+<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.facebook.react.processor" android:versionCode="1" android:versionName="1.0">
+  <!--minSDKVersion and TargetSDKVersion is specified in common gradle files
+     and is not to be specified in AndroidManifest.xml -->
+  <application></application>
+</manifest>
\ No newline at end of file
